.modalForm {
    display: flex;
    flex-direction: column;
}

.modalForm .inputs, .modalForm .buttons {
    display: flex;
    flex-direction: row;
    gap : 20px;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.error {
    color : red;
}
