.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap : 30px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap : 30px;
    }
}
